**/.terraform/*
.terraform*
*.tfstate
*.tfstate.*
tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.out
*.info
*.backup
*.hcl
.terraformrc
terraform.rc
azure-key*
aws-key*
